.card{
    width: 250px;
    background-color: var(--color-dark-blue-1);
    border-radius: 5px;

    &__img{
        border-radius: 5px 5px 0 0;
        display: block;
        height: 150px;
        width: 250px;
        object-fit: cover;
    }

    &__txt{
        padding: 2rem 1.5rem;
        line-height: 2em;
    }
}

.light-mode-card{
    background-color: var(--color-white);
  }