.Card{
    width: 250px;
    background-color: yellow;

    &__img{
        display: block;
        height: 150px;
        width: 250px;
        object-fit: cover;
    }

    &__txt{
        padding: 1rem;
    }
}

