.CountryDetails{
    margin-bottom: 10rem;

    &__body{
        display: flex;
        justify-content:flex-start;
        margin: 5rem;
    }

    &__txt-section{
        margin-left: 5rem;
        line-height: 2em;
    }

    &__btn{
        background-color: inherit;
        border: 0;
        border-width: 2px;
        border-color: var(--color-darK-grey);
        border-style: solid;
        border-radius: 5px;
        color: inherit;
        padding: 0.5rem 1.5rem;
        margin: 1rem 5rem;
    }

    &__btn:hover{
        cursor: pointer;
    }

    &__country-heading{
        margin-bottom: 1rem;
    }

    &__img{
        display: block;
        height: 300px;
        width: 500px;
        object-fit: cover;
    }

    &__facts{
        display: flex;

        &--1{
            margin-right: 5rem;
        }
    }

    &__border{
        display: flex;
    }

    &__border-countries{
        border: 1px solid var(--color-darK-grey);
        border-radius: 3px;
        padding: .25rem;
        margin: 0 .25rem;
    }

    @media only screen and (max-width: 1300px){
        &__body{
            margin-top: 1rem;
            flex-direction: column;
        }

        &__txt-section{
            margin-left: 0;
            margin-top: 3rem;
        }
    }

    @media only screen and (max-width: 900px){
        &__facts{
            flex-direction: column;
        }
    }

    @media only screen and (max-width: 600px){
        &__body{
            margin: 1rem;
        }

        &__btn{
            margin: 1rem;
        }

        &__img{
            height: 210px;
            width: 350px;
        }
    }
}