.header{
    background-color: var(--color-dark-blue-1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    padding: 0 5rem;

    &__btn{
        background-color: inherit;
        color: inherit;
        border: 1px solid var(--color-darK-grey);
        border-radius: 3px;
        padding: .25rem;
        margin: 0 .25rem;
    }

    &__light{
        background-color: var(--color-white);
    }

    @media only screen and (max-width: 600px){
        padding: 0 1rem;

        &__txt{
            font-size: 20px;
        }
    }
}